<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset='utf-8'>
        <title>Tâches à faire</title>
    </head>
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/node_modules/angular-animate/angular-animate.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/backoffice_controller.js"></script>
    <script src="app/controllers/categories_controller.js"></script>
    <script src="app/controllers/ingredients_controller.js"></script>
    <script src="app/directives/categorie_directive.js"></script>
    <script src="app/directives/ingredient_directive.js"></script>

    <link rel="stylesheet" href="main.css" />

    <body ng-app='sandwich'>
        <h1 class='titre'>BackOffice</h1>
	    <div ng-controller='BackofficeController' ng-hide="co" id="connexion">
	    	Identifiant :<input type="text" name="identifiant" id="identifiant" ng-model="identifiant" ><br>
	        Password :<input type="password" name="password" id="password" ng-model="password"><br>
	        <button name="connexion" id="connexion" ng-click="connexion()">Connexion</button>
	    </div>

	    <div id="flex">

	        <div ng-controller='CategoriesController' id='categories'  ng-if="co">
				<h1 class='titre2'> Catégories </h1>
				<ul class='categories'>
					<li ng-repeat='categorie in categories'>
						<categorie>
					</li>
				</ul>
	            
			</div>

			<div ng-controller='IngredientsController' id='ingredients' ng-if="co">
				<h1 class='titre2'>Ingredients</h1>
				<ul class='ingredients'>
					<li ng-repeat='ingredient in ingredients'>
						<ingredient>
					</li>
				</ul>
	            <fieldset>
	                <legend>Ajouter</legend>
	                Nom :<input type="text" ng-model="nom"><br/>
	                Id Catégorie :<input type="number" ng-model="cat"><br/>
	                Description :<input type="text" ng-model="descr"><br/>
	                Fournisseur :<input type="text" ng-model="fournisseur"><br/>
	                Image :<input type="text" ng-model="img"><br/>
	                <button ng-click="ajouter()">Ajouter</button>
	            </fieldset>            
			</div>
		</div>

        <div ng-controller='BackofficeController' ng-if="co" id="bilan">
            <h1>Bilan du jour</h1>
            <p>{{bilan}}</p>
        </div>
	</body>
</html>