#error    { width: 100%; }
#categories {width: 40%}
#ingredients{width: 40%  }

#flex{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  
}

.errorMsg {
  color: #ad5e5c;
  background: #ffe7e7;
  border:2px solid #e77d7b;
  padding: 5px;
}

.titre{
  font-family: ;
  font-size: 3em;
  text-align: center;
}

#connexion{
  text-align: center;
}

.titre2{
  font-size: 1.8em;
  text-align: center;
}

.categories, .categorie, .ingredients, .ingredient {
  list-style-type: none;
  padding: 0;
}

#ingredients{

  text-align: center;
}

#categories{

  text-align: center;
  font-size:1.2em;
}

.ingredient{
  border : 1px solid black;
  font-size: 1.2em;
}

fieldset{
  background:#DCDCDC;
}

.categorie, .ingredient {
  position: relative;
  background: #DCDCDC;
  border: 1px solid #4b4b89;
  padding: 15px;
  margin:1em;
}

#bilan{
  width: 100%;
  text-align: center;
  margin-bottom:2em;
  margin-top:2em;
  border-top:2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
}

.label{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #4b4b89;
  text-align: center;
}

.text{
font-size: 1.2em;
  text-transform: uppercase;
  color: #4b4b89;
  text-align: center;
}

/*.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}*/


.fade.ng-enter {
  transition:0.6s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
    transition:0.6s linear all;
  opacity:1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

